In [1]:
%load_ext autoreload
%autoreload 2

import findspark
import pyspark
import pyspark.sql.functions as sqlFunctions
# import matplotlib.pyplot as plt
import config
import summary
import etl

from operator import add
from pyspark.sql import SQLContext
from pyspark.ml.feature import VectorAssembler, StandardScaler
from dataset import CriteoDataSets, CriteoData

# %matplotlib inline

In [2]:
data = CriteoDataSets(config.SPARK_CONTEXT, config.SPARK_SQL_CONTEXT)
train = data.train if not config.DEBUG else data.debug
train_5m = data.train_5m if not config.DEBUG else data.debug

In [3]:
# Label data histogram
if config.DEBUG:
    summary.label_histogram(train)

([0, 1, 2], [77337, 22663])

In [4]:
def pretty_print_bin(bins, index):
    return "{:0,.3f} - {:0,.0f}".format(bins[i], bins[i + 1])


for col_num, histogram in summary.int_columns_histograms_iter(train):
    bins, counts = histogram
    print("Column %d:\n" % col_num)
    for i, count in enumerate(counts):
        print ("%20s: %s\n" % (pretty_print_bin(bins, i), "{:,}".format(count)))
    print("")

Column 2:

          0.000 - 56: 55,236

        55.600 - 111: 295

       111.200 - 167: 34

       166.800 - 222: 10

       222.400 - 278: 5

       278.000 - 334: 3

       333.600 - 389: 2

       389.200 - 445: 0

       444.800 - 500: 1

       500.400 - 556: 1


Column 3:

      -2.000 - 1,850: 98,530

   1,850.400 - 3,703: 1,397

   3,702.800 - 5,555: 52

   5,555.200 - 7,408: 12

   7,407.600 - 9,260: 7

  9,260.000 - 11,112: 0

 11,112.400 - 12,965: 1

 12,964.800 - 14,817: 0

 14,817.200 - 16,670: 0

 16,669.600 - 18,522: 1


Column 4:

       0.000 - 6,554: 80,863

  6,553.500 - 13,107: 11

 13,107.000 - 19,660: 1

 19,660.500 - 26,214: 20

 26,214.000 - 32,768: 0

 32,767.500 - 39,321: 0

 39,321.000 - 45,874: 0

 45,874.500 - 52,428: 0

 52,428.000 - 58,982: 1

 58,981.500 - 65,535: 2


Column 5:

          0.000 - 42: 79,210

         41.700 - 83: 1,178

        83.400 - 125: 44

       125.100 - 167: 8

       166.800 - 208: 12

       208.500 - 250: 6

       250.200 - 292: 5

       291.900 - 334: 0

       333.600 - 375: 0

       375.300 - 417: 3


Column 6:

     0.000 - 174,113: 93,216

174,112.800 - 348,226: 1,145

348,225.600 - 522,338: 491

522,338.400 - 696,451: 218

696,451.200 - 870,564: 88

870,564.000 - 1,044,677: 44

1,044,676.800 - 1,218,790: 19

1,218,789.600 - 1,392,902: 11

1,392,902.400 - 1,567,015: 5

1,567,015.200 - 1,741,128: 3


Column 7:

       0.000 - 1,629: 74,200

   1,629.000 - 3,258: 536

   3,258.000 - 4,887: 92

   4,887.000 - 6,516: 36

   6,516.000 - 8,145: 12

   8,145.000 - 9,774: 10

  9,774.000 - 11,403: 3

 11,403.000 - 13,032: 1

 13,032.000 - 14,661: 1

 14,661.000 - 16,290: 2


Column 8:

         0.000 - 881: 95,218

     880.700 - 1,761: 51

   1,761.400 - 2,642: 8

   2,642.100 - 3,523: 2

   3,522.800 - 4,404: 0

   4,403.500 - 5,284: 0

   5,284.200 - 6,165: 1

   6,164.900 - 7,046: 0

   7,045.600 - 7,926: 0

   7,926.300 - 8,807: 1


Column 9:

         0.000 - 468: 99,864

       467.700 - 935: 11

     935.400 - 1,403: 0

   1,403.100 - 1,871: 0

   1,870.800 - 2,338: 4

   2,338.500 - 2,806: 4

   2,806.200 - 3,274: 3

   3,273.900 - 3,742: 1

   3,741.600 - 4,209: 3

   4,209.300 - 4,677: 3


Column 10:

       0.000 - 1,266: 94,344

   1,266.100 - 2,532: 735

   2,532.200 - 3,798: 144

   3,798.300 - 5,064: 30

   5,064.400 - 6,330: 12

   6,330.500 - 7,597: 13

   7,596.600 - 8,863: 1

  8,862.700 - 10,129: 1

 10,128.800 - 11,395: 0

 11,394.900 - 12,661: 1


Column 11:

           0.000 - 1: 26,171

           0.600 - 1: 25,277

           1.200 - 2: 0

           1.800 - 2: 3,409

           2.400 - 3: 0

           3.000 - 4: 580

           3.600 - 4: 119

           4.200 - 5: 0

           4.800 - 5: 27

           5.400 - 6: 4


Column 12:

          0.000 - 10: 91,416

         10.400 - 21: 2,696

         20.800 - 31: 765

         31.200 - 42: 203

         41.600 - 52: 82

         52.000 - 62: 68

         62.400 - 73: 26

         72.800 - 83: 15

         83.200 - 94: 4

        93.600 - 104: 6


Column 13:

          0.000 - 49: 22,793

         49.300 - 99: 21

        98.600 - 148: 3

       147.900 - 197: 2

       197.200 - 246: 0

       246.500 - 296: 0

       295.800 - 345: 0

       345.100 - 394: 0

       394.400 - 444: 0

       443.700 - 493: 1


Column 14:

         0.000 - 656: 80,441

     655.800 - 1,312: 6

   1,311.600 - 1,967: 5

   1,967.400 - 2,623: 5

   2,623.200 - 3,279: 3

   3,279.000 - 3,935: 2

   3,934.800 - 4,591: 3

   4,590.600 - 5,246: 0

   5,246.400 - 5,902: 0

   5,902.200 - 6,558: 1

In [5]:
categorical_counts = {col_name: counts for (col_name, counts) in summary.cat_column_counts_iter(train)}

In [6]:
if config.DEBUG:
    for col_name in train.categorical_column_names:
        counts = categorical_counts[col_name]
        counts.show()

+--------+-----+
|      C1|count|
+--------+-----+
|05db9164|50197|
|68fd1e64|16676|
|5a9ed9b0| 8329|
|8cf07265| 4887|
|be589b51| 3336|
|5bfa8ab5| 2364|
|87552397| 1806|
|f473b8dc| 1339|
|39af2607| 1151|
|ae82ea21|  873|
|9a89b36c|  767|
|17f69355|  611|
|241546e0|  563|
|09ca0b81|  472|
|75ac2fe6|  417|
|41edac3d|  357|
|439a44a4|  342|
|7e5c2ff4|  275|
|1464facd|  260|
|b455c6d7|  253|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C2|count|
+--------+-----+
|38a947a1|12895|
|09e68b86| 6826|
|80e26c9b| 4043|
|38d50e09| 3724|
|287130e0| 3269|
|4f25e98b| 3268|
|1cfdf714| 2903|
|207b2d81| 2366|
|08d6d899| 1988|
|d833535f| 1892|
|58e67aaf| 1757|
|942f9a8d| 1735|
|8947f767| 1701|
|8084ee93| 1408|
|0468d672| 1392|
|0a519c5c| 1272|
|39dfaa0d| 1142|
|2c16a946| 1138|
|e5fb1af3| 1126|
|78ccd99e| 1087|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C3|count|
+--------+-----+
|    null| 3935|
|d032c263| 3703|
|b00d1501| 1900|
|02cf9876| 1707|
|aa8c1539| 1579|
|77f2f2e5| 1571|
|74e1a23a| 1058|
|9143c832|  972|
|2cbec47f|  900|
|ad4b77ff|  855|
|4470baf4|  725|
|02391f51|  507|
|ba1947d0|  506|
|003f419b|  387|
|b009d929|  370|
|b1ecc6c4|  362|
|e346a5fd|  342|
|223b0e16|  321|
|c86b2d8d|  310|
|6f67f7e5|  307|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C4|count|
+--------+-----+
|c18be181| 5410|
|d16679b9| 4380|
|    null| 3935|
|85dd697c| 3235|
|13508380| 2330|
|f922efad| 1487|
|9a6888fb| 1058|
|f56b7dd5|  972|
|3e2bfbda|  908|
|29998ed1|  895|
|6a14f9b9|  854|
|8c8a4c47|  730|
|82a61820|  635|
|b9c629a9|  507|
|ff852091|  420|
|657dc3b9|  399|
|22504558|  395|
|40ed41e5|  389|
|c7043c4b|  371|
|5dff9b29|  370|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C5|count|
+--------+-----+
|25c83c98|67056|
|4cf72387|15783|
|43b19349| 6228|
|384874ce| 3224|
|30903e74| 1990|
|0942e0a7| 1313|
|f281d2a7|  874|
|b0530c50|  560|
|b2241560|  483|
|f3474129|  374|
|307e775a|  266|
|2c6b8ded|  201|
|5a3e1872|  196|
|89ff5705|  176|
|f1d40cbe|  115|
|b706ee81|  112|
|a9411994|   93|
|bf9f7f48|   93|
|65be028e|   91|
|db679829|   56|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C6|count|
+--------+-----+
|7e0ccccf|46438|
|fbad5c96|19331|
|    null|13708|
|fe6b92e5|11495|
|13718bbd| 3802|
|6f6d9be8| 3460|
|3bf701e7| 1728|
|e3520422|   16|
|f1f2de2d|    9|
|c05778d5|    6|
|c76aecf6|    5|
|3c46edb2|    2|
+--------+-----+

+--------+-----+
|      C7|count|
+--------+-----+
|3f4ec687|  957|
|49b74ebc|  902|
|7195046d|  776|
|970f01b2|  772|
|88002ee1|  639|
|9b98e9fc|  633|
|38eb9cf4|  585|
|d2d741ca|  581|
|81bb0302|  541|
|dc7659bd|  534|
|1c86e0eb|  531|
|e7698644|  504|
|468a0854|  485|
|197b4575|  479|
|ce4f7f55|  454|
|afa309bd|  442|
|d0bdaa98|  401|
|7227c706|  393|
|af0809a5|  386|
|b87f4a4a|  384|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C8|count|
+--------+-----+
|0b153874|59264|
|5b392875|16689|
|1f89b562| 7485|
|37e4aa92| 4234|
|062b5529| 2638|
|51d76abe| 1774|
|c8ddd494| 1258|
|64523cfa|  979|
|6c41e35e|  709|
|985e3fcb|  628|
|25239412|  474|
|a674580f|  396|
|66f29b89|  335|
|f504a6f4|  264|
|a61cc0ef|  224|
|361384ce|  201|
|a25968f2|  187|
|0fb392dd|  167|
|45f7c2dd|  134|
|233428af|  126|
+--------+-----+
only showing top 20 rows

+--------+-----+
|      C9|count|
+--------+-----+
|a73ee510|88523|
|7cc72ec2|11445|
|a18233ea|   32|
+--------+-----+

+--------+-----+
|     C10|count|
+--------+-----+
|3b08e48b|26595|
|fbbf2c95|  887|
|efea433b|  824|
|6c47047a|  764|
|0e9ead52|  749|
|fa7d0797|  705|
|5ba575e7|  565|
|5162b19c|  483|
|451bd4e4|  446|
|7f79890b|  426|
|f6f942d1|  425|
|7259dc52|  393|
|726f00fd|  383|
|305a0646|  361|
|dcbc7c2b|  340|
|49d1ad89|  311|
|9a1250bd|  271|
|299aecf1|  264|
|e70742b0|  261|
|18139a78|  248|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C11|count|
+--------+-----+
|c4adf918| 2118|
|7f8ffe57| 1539|
|e51ddf94| 1196|
|4d8549da| 1157|
|f25fe7e9|  932|
|755e4a50|  822|
|36bccca0|  771|
|b7094596|  761|
|5874c9c9|  745|
|a7b606c4|  721|
|c1ee56d0|  668|
|77212bd7|  659|
|319687c9|  638|
|f1b78ab4|  605|
|1054ae5c|  587|
|ea4adb47|  581|
|9e511730|  538|
|a0a5e9d7|  520|
|371dae82|  518|
|434d6c13|  515|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C12|count|
+--------+-----+
|    null| 3935|
|dfbb09fb| 3703|
|e0d76380| 1900|
|8fe001f4| 1707|
|d8c29807| 1579|
|9f32b866| 1571|
|fb8fab62| 1058|
|ae1bb660|  972|
|21a23bfe|  900|
|6aaba33c|  895|
|a2f4e8b5|  855|
|bb669e25|  725|
|2397259a|  507|
|34a238e0|  506|
|b99ddbc8|  422|
|349450bc|  387|
|3563ab62|  370|
|2436ff75|  362|
|539c5644|  342|
|156f99ef|  321|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C13|count|
+--------+-----+
|85dbe138| 2327|
|46f42a63| 1669|
|3516f6e6| 1327|
|51b97b8f| 1157|
|80467802| 1111|
|6e5da64f| 1093|
|ebd756bd| 1067|
|740c210d| 1009|
|dd183b4c|  932|
|5978055e|  822|
|025225f2|  813|
|1f9d2c38|  761|
|eae197fd|  723|
|b55434a9|  693|
|1aa94af3|  690|
|7203f04e|  659|
|62036f49|  638|
|d7ce3abd|  587|
|05781932|  581|
|949ea585|  545|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C14|count|
+--------+-----+
|07d13a8f|36315|
|b28479f6|34577|
|1adce6ef|15964|
|64c94865| 3553|
|cfef1c29| 2268|
|8ceecbc8| 1830|
|051219e6| 1717|
|f862f261| 1260|
|f7c1b33f|  617|
|d2dfe871|  538|
|ad1cc976|  385|
|32813e21|  288|
|0601d3b5|  124|
|243a4e68|  118|
|687dfaf4|   90|
|ec19f520|   65|
|dcd762ee|   56|
|26ac7cf4|   55|
|91233270|   55|
|ab7390e9|   33|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C15|count|
+--------+-----+
|36721ddc| 2054|
|52baadf5| 1526|
|42b3012c|  976|
|10040656|  972|
|dbc5e126|  930|
|d345b1a0|  881|
|0f942372|  804|
|9efd8b77|  777|
|f3635baf|  755|
|d2f03b75|  733|
|a8e962af|  683|
|e3209fc2|  680|
|dfab705f|  679|
|310d155b|  675|
|8ab5b746|  653|
|ac182643|  649|
|ee569ce2|  649|
|41f10449|  646|
|3628a186|  628|
|10935a85|  616|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C16|count|
+--------+-----+
|    null| 3935|
|84898b2a| 3703|
|1203a270| 1900|
|36103458| 1707|
|31ca40b6| 1587|
|c64d548f| 1579|
|c6b1e1b2| 1058|
|bad5ee18|  972|
|587267a3|  900|
|b041b04a|  895|
|89052618|  872|
|f8b34416|  815|
|da441c7e|  783|
|2b2ce127|  725|
|87acb535|  509|
|d37efe8c|  507|
|2d0bbe92|  479|
|01adbab4|  445|
|6615ffe6|  387|
|b688c8cc|  370|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C17|count|
+--------+-----+
|e5ba7672|42705|
|07c540c4|13033|
|d4bb7bd8|12639|
|3486227d| 7548|
|776ce399| 6418|
|2005abd1| 4760|
|1e88c74f| 4559|
|27c07bd6| 4199|
|8efede7f| 4138|
|af5d780c|    1|
+--------+-----+

+--------+-----+
|     C18|count|
+--------+-----+
|5aed7436| 5348|
|891589e7| 2879|
|e88ffc9d| 2590|
|582152eb| 2156|
|7ef5affa| 2133|
|c21c3e4c| 1757|
|005c6740| 1735|
|1f868fdd| 1735|
|f54016b9| 1731|
|bd17c3da| 1570|
|63cdbb21| 1252|
|13145934| 1126|
|e7e991cb| 1087|
|9880032b| 1048|
|2804effd|  986|
|a78bd508|  966|
|df4fffb7|  927|
|281769c2|  781|
|5bb2ec8e|  771|
|ffd53157|  737|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C19|count|
+--------+-----+
|    null|41471|
|21ddcdc9|34151|
|55dd3565| 2385|
|cf99e5de| 1215|
|9437f62f|  904|
|1d1eb838|  597|
|5b885066|  489|
|712d530c|  443|
|1d04f4a4|  417|
|9653bb65|  363|
|a153cea2|  362|
|2b558521|  352|
|6f3756eb|  330|
|efa3470f|  316|
|4764bf77|  314|
|3014a4b1|  312|
|083e89d9|  286|
|f44bef3c|  260|
|2f4b9dd2|  234|
|f30f7842|  223|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C20|count|
+--------+-----+
|    null|41471|
|5840adea|21517|
|a458ea53|18983|
|b1252a9d|18029|
+--------+-----+

+--------+-----+
|     C21|count|
+--------+-----+
|    null| 3935|
|0014c32a| 3703|
|73d06dde| 1900|
|e587c466| 1707|
|5f957280| 1579|
|dfcfc3fa| 1571|
|99c09e97| 1058|
|0429f84b|  972|
|c2a93b37|  900|
|723b4dfd|  895|
|d4703ebd|  855|
|f3ddd519|  815|
|2b796e4a|  725|
|a4b7004c|  509|
|b6119319|  507|
|8717ea07|  506|
|21c9516a|  445|
|3dd38d65|  387|
|2754aaf1|  370|
|4f1aa25f|  362|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C22|count|
+--------+-----+
|    null|81566|
|ad3062eb| 9640|
|c9d4222a| 7023|
|8ec974f4|  751|
|78e2e389|  582|
|c0061c6d|  402|
|8651fddb|   13|
|ccfd4002|   11|
|49e825c5|    7|
|28f45308|    3|
|d9ce1838|    2|
+--------+-----+

+--------+-----+
|     C23|count|
+--------+-----+
|32c7478e|43970|
|3a171ecb|19944|
|423fab69|11383|
|be7c41b4| 7079|
|bcdee96c| 6835|
|c7dc6720| 4522|
|55dd3565| 3029|
|dbb486d7| 1396|
|93bad2c0|  988|
|c3dc6cef|  385|
|85d5a995|  320|
|b264a060|  122|
|25e3c76b|   19|
|72592995|    8|
+--------+-----+

+--------+-----+
|     C24|count|
+--------+-----+
|1793a828| 6941|
|3fdb382b| 6504|
|3b183c5c| 5991|
|aee52b6f| 4519|
|    null| 3935|
|b34f3128| 3441|
|45ab94c8| 2851|
|9117a34a| 1479|
|335a6a1e| 1075|
|c0d61a5c|  972|
|ded4aac9|  833|
|df487a73|  791|
|8d365d3b|  730|
|b258af68|  715|
|cafb4e4d|  635|
|6c1cdd05|  569|
|f96a556f|  550|
|8f079aa5|  540|
|08b0ce98|  537|
|c2fe6ca4|  523|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C25|count|
+--------+-----+
|    null|41471|
|e8b83407|18487|
|001f3601|11451|
|ea9a246c| 5976|
|010f6491| 3806|
|cb079c2d| 3291|
|9b3e8820| 2900|
|2bf691b1| 2209|
|445bbe3b| 1768|
|f0f449dd| 1494|
|9d93af03| 1239|
|724b04da| 1225|
|47907db5|  852|
|b9266ff0|  754|
|7a402766|  398|
|c9f3bea7|  385|
|3d2bedd7|  309|
|c243e98b|  210|
|3a6f6b59|  205|
|ce62e669|  196|
+--------+-----+
only showing top 20 rows

+--------+-----+
|     C26|count|
+--------+-----+
|    null|41471|
|49d68486| 5046|
|c84c4aec| 2330|
|2fede552| 1574|
|984e0db0| 1523|
|b7d9c3bc| 1299|
|aa5f0a15| 1271|
|c27f155b|  944|
|9904c656|  883|
|b9809574|  864|
|56be3401|  743|
|b13f4ade|  512|
|c986348f|  463|
|b29c74dc|  372|
|4e7af834|  357|
|731c3655|  307|
|70b6702c|  299|
|d15c0cc8|  297|
|6935065e|  282|
|54ca28ff|  277|
+--------+-----+
only showing top 20 rows

In [7]:
if config.DEBUG:
    column_distinct_counts = {col_name: summary.column_distinct_count(train, col_name) 
                              for col_name in train.df.columns}

In [8]:
# Distinct value count for categorical features
if config.DEBUG:
    for col_name in train.categorical_column_names:
        count = "{:,}".format(column_distinct_counts.get(col_name))
        print("Column %s: %s distinct values" % (col_name, count))

Column C1: 541 distinct values
Column C2: 497 distinct values
Column C3: 43,870 distinct values
Column C4: 25,184 distinct values
Column C5: 145 distinct values
Column C6: 12 distinct values
Column C7: 7,623 distinct values
Column C8: 257 distinct values
Column C9: 3 distinct values
Column C10: 10,997 distinct values
Column C11: 3,799 distinct values
Column C12: 41,312 distinct values
Column C13: 2,796 distinct values
Column C14: 26 distinct values
Column C15: 5,238 distinct values
Column C16: 34,617 distinct values
Column C17: 10 distinct values
Column C18: 2,548 distinct values
Column C19: 1,303 distinct values
Column C20: 4 distinct values
Column C21: 38,618 distinct values
Column C22: 11 distinct values
Column C23: 14 distinct values
Column C24: 12,335 distinct values
Column C25: 51 distinct values
Column C26: 9,527 distinct values

In [9]:
integer_column_stats = {name: stats for (name, stats) in summary.integer_column_stats_iter(train)}

In [10]:
def pretty_print_stats(stats):
    return "\n".join(["\t{}: {:0,.3f}".format(key, val) for (key, val) in stats.items()])

if config.DEBUG:
    for col_name in train.integer_column_names:
        stats = integer_column_stats[col_name]
        print("%s: %s\n" % (col_name, pretty_print_stats(stats)))

I1: 	skewness: 13.045
	kurtosis: 373.759
	stddev: 10.451
	mean: 3.769

I2: 	skewness: 7.264
	kurtosis: 100.708
	stddev: 401.523
	mean: 112.864

I3: 	skewness: 74.676
	kurtosis: 7,426.228
	stddev: 538.819
	mean: 40.745

I4: 	skewness: 5.891
	kurtosis: 115.569
	stddev: 10.836
	mean: 8.280

I5: 	skewness: 9.146
	kurtosis: 115.043
	stddev: 65,797.898
	mean: 17,592.599

I6: 	skewness: 11.409
	kurtosis: 251.298
	stddev: 371.776
	mean: 139.685

I7: 	skewness: 42.413
	kurtosis: 4,233.619
	stddev: 65.460
	mean: 15.222

I8: 	skewness: 68.854
	kurtosis: 5,577.523
	stddev: 46.542
	mean: 13.575

I9: 	skewness: 9.010
	kurtosis: 163.166
	stddev: 286.416
	mean: 125.295

I10: 	skewness: 1.125
	kurtosis: 2.495
	stddev: 0.677
	mean: 0.620

I11: 	skewness: 6.399
	kurtosis: 66.442
	stddev: 4.630
	mean: 2.400

I12: 	skewness: 42.705
	kurtosis: 3,362.307
	stddev: 5.328
	mean: 0.938

I13: 	skewness: 67.003
	kurtosis: 5,899.185
	stddev: 52.045
	mean: 11.608

In [11]:
row_count = summary.row_count(train)
print("Row count: %s" % "{:,}".format(row_count))

Row count: 100,000

In [12]:
# Pull just the mean values from the integer column stats
integer_column_means = {col_name: round(integer_column_stats[col_name]["mean"])
                        for col_name in train.integer_column_names}

In [13]:
cat_features = ["C5", "C9", "C22"]

In [14]:
scaled_df, scaler, crm = etl.transform_train(train, integer_column_means, cat_features, 
                                                  categorical_counts, row_count)

In [15]:
scaled_df.show()

+-----+--------------------+
|label|     features_scaled|
+-----+--------------------+
|    0|[0.12832207225118...|
|    0|[0.25664414450236...|
|    0|[0.25664414450236...|
|    0|[0.51328828900472...|
|    0|[0.38496621675354...|
|    0|[0.51328828900472...|
|    0|[0.51328828900472...|
|    1|[0.12832207225118...|
|    0|[0.51328828900472...|
|    0|[0.51328828900472...|
|    0|[0.51328828900472...|
|    0|[0.0,0.0149431176...|
|    1|[0.0,-0.002490519...|
|    1|[0.51328828900472...|
|    0|[0.0,0.1270165002...|
|    0|[0.51328828900472...|
|    1|[0.12832207225118...|
|    0|[0.0,0.0024905196...|
|    0|[0.0,0.0597724707...|
|    0|[0.89825450575827...|
+-----+--------------------+
only showing top 20 rows